/target
/**/target
/classes
/**/classes
/checkouts
/**/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/**/.lein-*
/.nrepl-port
/**/.nrepl-port
.hgignore
.hg/
.idea/
*.iml
*.iws
*.ipr
.DS_Store
/vendor
.eastwood
